menu "Build Setup"
source "arch/Kconfig"
endmenu # Build Setup


menu "Chip Features"
source "Boards/Kconfig"
endmenu

menu "RTOS Features"
source "os/Kconfig"
endmenu

menu "Device Drivers"
source "drivers/Kconfig"
endmenu


menu "Components Features"
source "components/Kconfig"
endmenu



source "PS/Kconfig"



menu "Application Configuration"
source "apps/Kconfig"
endmenu
	
menu "ref design specific Configuration"
source "$BOARD_DIR/Kconfig"
endmenu

mainmenu "ESWIN Configuration"

#config TOPDDIR
#	string 
#	option env="TOPDDIR"
#
#config BOARD_DIR
#	string
#	option env="BOARD_DIR"
