#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig WIRELESS_IPERF_3
	bool "IPERF_3"
	depends on ECR6600_WIFI
	default n
	select CJSON

