
#
# Build Setup
#

#
# Build Setup
#
CONFIG_OUTPUT_FORMAT_ELF=y
CONFIG_LD_SCRIPT_XIP=y
# CONFIG_LD_SCRIPT_RAM is not set
CONFIG_OUTPUT_VERSION_STANDALONE_ELF=y
# CONFIG_OUTPUT_VERSION_TRANSPORT_ELF is not set
# CONFIG_OUTPUT_VERSION_LIB is not set
CONFIG_OPTION_ARCHOPTIMIZATION="-Os"
CONFIG_BUILD_WARNING_ALL=y
# end of Build Setup

#
# Chip Features
#

#
# Chip Features
#
CONFIG_ECR6600=y

#
# ECR6600 CHIP Fetures
#
CONFIG_CPU_ARCH="andes"
# CONFIG_CPU_CLK_SRC_96M is not set
CONFIG_CPU_CLK_SRC_160M=y
# CONFIG_CPU_CLK_SRC_240M is not set
# CONFIG_CPU_CLK_SRC_40m is not set
CONFIG_CPU_CLK_FREQ_DIV_0=y
# CONFIG_CPU_CLK_FREQ_DIV_2 is not set
# CONFIG_CPU_CLK_FREQ_DIV_4 is not set
# CONFIG_CPU_CLK_FREQ_DIV_8 is not set
CONFIG_CPU_ICACHE_ENABLE=y
CONFIG_CPU_DCACHE_ENABLE=y
# end of ECR6600 CHIP Fetures

#
# PSM Configuration Start
#
CONFIG_PSM_SURPORT=y
# CONFIG_PSM_SUPER_LOWPOWER is not set
CONFIG_WIFI_TWT=y

#
# PSM Configuration End
#
# end of Chip Features

#
# RTOS Features
#

#
# RTOS Configuration Start
#
CONFIG_FREERTOS=y
CONFIG_RTOS="freertos"

#
# RTOS Debug Configuration
#
CONFIG_TASK_IRQ_SWITCH_TRACE=y
CONFIG_TASK_IRQ_SWITCH_TRACE_NUM=10
CONFIG_HEAP_BOUNDARY_CHECK=y
# CONFIG_HEAP_CHECK_WHEN_TASK_SWITCHING is not set
CONFIG_FREERTOS_configCHECK_FOR_STACK_OVERFLOW=0
# CONFIG_HEAP_DEBUG is not set
# CONFIG_RUNTIME_DEBUG is not set
# CONFIG_TASK_IRQ_RUN_NUM is not set
# CONFIG_FLASH_DUMP is not set
# CONFIG_SYSTEM_IRQ is not set
CONFIG_OS_TICK_COMPENSTATION=y
# end of RTOS Debug Configuration

#
# RTOS Configuration End
#
# end of RTOS Features

#
# Device Drivers
#

#
# soc drivers
#

#
# UART_NUM
#
CONFIG_CLI_UART_0=y
# CONFIG_CLI_UART_1 is not set
# CONFIG_CLI_UART_2 is not set
CONFIG_SAME_TO_CLI_UART_NUM=y
# CONFIG_AMT_UART_1 is not set
# CONFIG_AMT_UART_2 is not set
CONFIG_AT_UART_1=y
# CONFIG_AT_UART_2 is not set
# end of UART_NUM

CONFIG_UART=y
CONFIG_PIT=y
CONFIG_GPIO=y
CONFIG_DMA=y
CONFIG_AES=y
CONFIG_HASH=y
CONFIG_TRNG=y
# CONFIG_SDIO_SLAVE is not set
# CONFIG_SDHCI is not set
# CONFIG_SDCARD is not set
CONFIG_PWM=y
CONFIG_TIMER=y
CONFIG_EFUSE=y

#
# FLASH Driver Support
#
CONFIG_FLASH=y
# CONFIG_STANDARD_SPI is not set
# CONFIG_DUAL_SPI is not set
CONFIG_QUAD_SPI=y
CONFIG_SPI_CLK_DIV_0=y
# CONFIG_SPI_CLK_DIV_2 is not set
# CONFIG_SPI_CLK_DIV_4 is not set
# CONFIG_SPI_CLK_DIV_6 is not set
# CONFIG_SPI_CLK_DIV_8 is not set
# CONFIG_SPI_CLK_DIV_10 is not set

#
# FLASH Manufacturer's Support
#
CONFIG_FLASH_ALL_COMPATIBILITY=y
CONFIG_FLASH_GD=y
CONFIG_FLASH_PUYA=y
CONFIG_FLASH_ZB=y
CONFIG_FLASH_XM=y
CONFIG_FLASH_XT=y
CONFIG_FLASH_FM=y
CONFIG_FLASH_HUABANG=y
CONFIG_FLASH_EN=y
CONFIG_FLASH_TH=y
CONFIG_FLASH_BOYA=y
# end of FLASH Manufacturer's Support
# end of FLASH Driver Support

CONFIG_IR=y
CONFIG_ADC=y
CONFIG_I2C=y
CONFIG_I2S=y
CONFIG_RTC=y
CONFIG_SPI_MASTER=y
CONFIG_SPI_SLAVE=y
CONFIG_WDT=y
# CONFIG_WDT_FEED_TASK is not set
# CONFIG_ANALYZE_REBOOT_TYPE is not set
CONFIG_ECC=y
CONFIG_ENCRYPT_LOCK=y
CONFIG_PROCESS_SENSOR=y

#
# Driver UNIT TEST Support
#
CONFIG_DRV_UNIT_TEST=y
# CONFIG_DRV_UNIT_TEST_I2S is not set
CONFIG_DRV_UNIT_TEST_TIMER=y
CONFIG_DRV_UNIT_TEST_RTC=y
CONFIG_DRV_UNIT_TEST_FLASH=y
CONFIG_DRV_UNIT_TEST_GPIO=y
CONFIG_DRV_UNIT_TEST_EFUSE=y
CONFIG_DRV_UNIT_TEST_UART=y
CONFIG_DRV_UNIT_TEST_PWM=y
CONFIG_DRV_UNIT_TEST_AES=y
CONFIG_DRV_UNIT_TEST_HASH=y
# CONFIG_DRV_UNIT_TEST_ECC is not set
CONFIG_DRV_UNIT_TEST_TRNG=y
CONFIG_DRV_UNIT_TEST_WDT=y
CONFIG_DRV_UNIT_TEST_ADC=y
CONFIG_DRV_UNIT_TEST_SPI=y
# CONFIG_DRV_UNIT_TEST_PROCESS_SENSOR is not set
# end of Driver UNIT TEST Support
# end of Device Drivers

#
# Components Features
#
CONFIG_CLI=y
CONFIG_CMD_SHOW=y
CONFIG_CMD_SHOW_SDK_VERSION=y
CONFIG_CMD_SHOW_REL_VERSION=y
CONFIG_CMD_READ=y
CONFIG_CMD_WRITE=y
CONFIG_CMD_HEALTH_MONITOR=y
CONFIG_CMD_ADC_HARDWARE=y
CONFIG_CMD_BLE=y
CONFIG_BLE_EMB_PRESENT=y
CONFIG_CMD_WIFI=y
CONFIG_CMD_WIFI_AMT_VERSION=y
CONFIG_CMD_WDT=y
CONFIG_CMD_SYSTEM_DEBUG=y
CONFIG_CMD_SNTP=y
CONFIG_CMD_SMARTCONFIG=y
CONFIG_CMD_PSM=y
CONFIG_CMD_OTA_SERVICE=y
CONFIG_CMD_NV=y
CONFIG_CMD_IPERF_3=y
CONFIG_CMD_EFUSE=y
# CONFIG_CMD_LA is not set
# CONFIG_CMD_SDCARD is not set
# CONFIG_CMD_HTTPSERVER is not set
CONFIG_PHREAD=y
CONFIG_LWIP=y
CONFIG_IPV6=y
CONFIG_LWIP_MEM_SIZE=25892
CONFIG_LWIP_TCP_SND_BUF=17520
CONFIG_LWIP_TCP_WND_BUF=8760
CONFIG_NV=y
CONFIG_WIRELESS_WPA_SUPPLICANT=y
CONFIG_ECR6600_DBGTRIM=y
CONFIG_WIRELESS_WPA3_SUPPORT=y
CONFIG_SYSTEM_WIFI_CTRL=y
CONFIG_WIFI_LOG_LEVEL_DEBUG=y
# CONFIG_WIFI_LOG_LEVEL_INFO is not set
# CONFIG_WIFI_LOG_LEVEL_WARN is not set
# CONFIG_WIFI_LOG_LEVEL_ERROR is not set
# CONFIG_WIFI_LOG_LEVEL_RAW is not set
# CONFIG_WIFI_LOG_LEVEL_NONE is not set
CONFIG_WIFI_USER_RECV_BUF_SIZE=65536
CONFIG_WIFI_DRV_RECV_BUF_SIZE=12288
CONFIG_WIFI_AMPDU_TX_CNT=3
CONFIG_MBEDTLS=y
CONFIG_WIRELESS_IPERF_3=y
CONFIG_CJSON=y
CONFIG_WIFI_SMARTCONFIG=y
CONFIG_SNTP=y
# CONFIG_BLE_TUYA_ADAPTER_TEST is not set
# CONFIG_BLE_TUYA_HCI_ADAPTER_TEST is not set
# CONFIG_FATFS is not set
CONFIG_TELNET=y
CONFIG_URLPARSER=y
CONFIG_MQTT=y
CONFIG_MQTT_SSL=y
# CONFIG_CUSTOM_FHOSTAPD is not set
CONFIG_HEALTH_MONITOR=y
CONFIG_HEALTH_MON_TASK_MAX_NUM=16
# CONFIG_HEALTH_MON_DEBUG is not set
# end of Components Features

#
# Wireless Support
#

#
# WIRELESS Configuration Start
#
CONFIG_ECR_BLE=y
CONFIG_BLE_APP_ECR=y
# CONFIG_BLE_APP_NONE is not set
CONFIG_BLE_APP=y

#
# BLE Module
#
CONFIG_COMP_AES=y
CONFIG_COMP_DEBUG_BLE=y

#
# HCI DBG Feature
#
# CONFIG_HCI_DBG_ENABLE is not set
# end of HCI DBG Feature

#
# LOG Feature
#
# CONFIG_LOG_ENABLE is not set
# end of LOG Feature

#
# Trace Feature
#
# CONFIG_TRC_ENABLE is not set
# end of Trace Feature

CONFIG_COMP_ECC_P256=y
CONFIG_COMP_H4TL=y
# CONFIG_COMP_HCI_ADAPT is not set
CONFIG_COMP_RF=y
CONFIG_COMP_RWIP=y
# CONFIG_BLE_RF_RIPPLE is not set
# CONFIG_BLE_RF_ATLAS is not set
CONFIG_BLE_RF_EXTRC=y
# end of BLE Module

# CONFIG_BLE_PRODUCT_SPLITEMB is not set
CONFIG_BLE_PRODUCT_BLEFULL=y
CONFIG_BLE_PRODUCT="ble-full"
# CONFIG_BLE_BOARD_DISPLAY is not set
# CONFIG_BLE_GAIA is not set
CONFIG_BLE_BUBBLE=y
# CONFIG_BLE_ROLE_CENTRAL is not set
# CONFIG_BLE_ROLE_OBSERVER is not set
# CONFIG_BLE_ROLE_BROADCASTER is not set
# CONFIG_BLE_ROLE_PERIPHERAL is not set
# CONFIG_BLE_ROLE_PERIPHERAL_OBSERVER is not set
CONFIG_BLE_ROLE_ALL=y
# CONFIG_BLE_ROLE_NONCON is not set
CONFIG_BLE_ROLE="all"
CONFIG_LE_ACT=3
CONFIG_LE_CONN=1
# CONFIG_BLE_NVDS is not set
CONFIG_BLE_HCITL=y
# CONFIG_BLE_TEST_RX_DUMP is not set
# CONFIG_STANDALONE_UART is not set
CONFIG_MULTIPLEX_UART=y

#
# BLE Host Specifics
#
# CONFIG_BLE_AHITL is not set
CONFIG_BLE_ATTC=y
# CONFIG_BLE_EXTDB is not set
CONFIG_BLE_ATTS=y
# end of BLE Host Specifics

CONFIG_BLE_SEC_CON=32
# CONFIG_BLE_CRYPTO_UT is not set

#
# Profiles Feature
#
# CONFIG_BLE_ALLPRF is not set
CONFIG_BLE_NBPRF=1
CONFIG_BLE_PROFILES=y
# CONFIG_BLE_PROFILE_DISC is not set
# CONFIG_BLE_PROFILE_DISS is not set
# CONFIG_BLE_PROFILE_PXPM is not set
# CONFIG_BLE_PROFILE_PXPR is not set
# CONFIG_BLE_PROFILE_FMPL is not set
# CONFIG_BLE_PROFILE_FMPT is not set
# CONFIG_BLE_PROFILE_HTPC is not set
# CONFIG_BLE_PROFILE_HTPT is not set
# CONFIG_BLE_PROFILE_BLPC is not set
# CONFIG_BLE_PROFILE_BLPS is not set
# CONFIG_BLE_PROFILE_HRPC is not set
# CONFIG_BLE_PROFILE_HRPS is not set
# CONFIG_BLE_PROFILE_TIPC is not set
# CONFIG_BLE_PROFILE_TIPS is not set
# CONFIG_BLE_PROFILE_SCPPC is not set
# CONFIG_BLE_PROFILE_SCPPS is not set
# CONFIG_BLE_PROFILE_BASC is not set
# CONFIG_BLE_PROFILE_BASS is not set
# CONFIG_BLE_PROFILE_HOGPD is not set
# CONFIG_BLE_PROFILE_GLPC is not set
# CONFIG_BLE_PROFILE_GLPS is not set
# CONFIG_BLE_PROFILE_RSCPC is not set
# CONFIG_BLE_PROFILE_RSCPS is not set
# CONFIG_BLE_PROFILE_CSCPC is not set
# CONFIG_BLE_PROFILE_CSCPS is not set
# CONFIG_BLE_PROFILE_CPPC is not set
# CONFIG_BLE_PROFILE_CPPS is not set
# CONFIG_BLE_PROFILE_LANC is not set
# CONFIG_BLE_PROFILE_LANS is not set
# CONFIG_BLE_PROFILE_ANPC is not set
# CONFIG_BLE_PROFILE_ANPS is not set
# CONFIG_BLE_PROFILE_PASPC is not set
# CONFIG_BLE_PROFILE_PASPS is not set
# CONFIG_BLE_PROFILE_WSCC is not set
# CONFIG_BLE_PROFILE_WSCS is not set
# CONFIG_BLE_PROFILE_BCSC is not set
# CONFIG_BLE_PROFILE_BCSS is not set
# CONFIG_BLE_PROFILE_UDSS is not set
# CONFIG_BLE_PROFILE_UDSC is not set
# CONFIG_BLE_PROFILE_PLXS is not set
# CONFIG_BLE_PROFILE_PLXC is not set
# CONFIG_BLE_PROFILE_CGMS is not set
# CONFIG_BLE_PROFILE_CGMC is not set
# end of Profiles Feature

#
# Mesh Feature
#
# CONFIG_BLE_MESH is not set
# end of Mesh Feature

CONFIG_BLE_WLCOEX=y
# CONFIG_BLE_WLCOEXTST is not set
# CONFIG_BLE_AOA is not set
# CONFIG_BLE_AOD is not set
# CONFIG_BLE_CON_CTE_REQ is not set
# CONFIG_BLE_CON_CTE_RSP is not set
# CONFIG_BLE_CONLESS_CTE_TX is not set
# CONFIG_BLE_CONLESS_CTE_RX is not set
CONFIG_BLE_RAL=1
CONFIG_BLE_HOST_PRESENT=y
CONFIG_BLE_AHI_PRESENT=y
CONFIG_BLE_SCH_PRESENT=y
# CONFIG_BLE_RD_PICONET_CLK is not set
# CONFIG_BLE_AFS_EXT is not set
# CONFIG_BLE_MBP is not set
# CONFIG_RP_HWSIM_BYPASS is not set
# CONFIG_ECR_BLE_DBG is not set
CONFIG_ECR6600_WIFI=y
# CONFIG_FPGA is not set
CONFIG_FULLMASK=y
# CONFIG_WIFI_PRODUCT_LMAC is not set
# CONFIG_WIFI_PRODUCT_FMAC is not set
CONFIG_WIFI_PRODUCT_FHOST=y
CONFIG_WIFI_PRODUCT="fhost"
CONFIG_WIFI_UMAC=y
CONFIG_WIFI_FHOST=y
CONFIG_WIFI_PLATFORM_VIRTEX7=y
# CONFIG_WIFI_PLATFORM_CUSTOM is not set
CONFIG_WIFI_PLATFORM="virtex7"
# CONFIG_WIFI_PROF is not set
# CONFIG_WIFI_STATS is not set
CONFIG_WIFI_VIF=4
CONFIG_WIFI_STA=8
# CONFIG_WIFI_MAC_VERSION10 is not set
# CONFIG_WIFI_MAC_VERSION20 is not set
CONFIG_WIFI_MAC_VERSION21=y
CONFIG_WIFI_MAC_VERSION=21
# CONFIG_WIFI_MDM_V10 is not set
# CONFIG_WIFI_MDM_V11 is not set
# CONFIG_WIFI_MDM_V20 is not set
# CONFIG_WIFI_MDM_V21 is not set
# CONFIG_WIFI_MDM_V22 is not set
CONFIG_WIFI_MDM_V30=y
CONFIG_WIFI_MDM_VERSION=30
# CONFIG_WIFI_IPC_V10 is not set
CONFIG_WIFI_IPC_V11=y
CONFIG_WIFI_IPC_VERSION=11

#
# Number of descriptors in BK TX queue[TXDESC]
#
CONFIG_WIFI_TXDESC0=4
CONFIG_WIFI_TXDESC1=64
CONFIG_WIFI_TXDESC2=4
CONFIG_WIFI_TXDESC3=64
CONFIG_WIFI_TXDESC4=4
# end of Number of descriptors in BK TX queue[TXDESC]

# CONFIG_WIFI_POWERSVAE is not set
# CONFIG_WIFI_UAPSD is not set
CONFIG_WIFI_DPSM=y
# CONFIG_WIFI_RADAR is not set
CONFIG_WIFI_UF=y
CONFIG_WIFI_MON_DATA=y
# CONFIG_WIFI_AMSDU is not set
CONFIG_WIFI_REC=y
CONFIG_WIFI_BCN=y
# CONFIG_WIFI_AGG is not set
CONFIG_WIFI_AMSDURX=12
CONFIG_WIFI_SPC=16
# CONFIG_WIFI_WAPI is not set
CONFIG_WIFI_BFMEE=y
CONFIG_WIFI_BWLEN=y
CONFIG_WIFI_KEYCFG=y
# CONFIG_WIFI_TDLS is not set
# CONFIG_WIFI_BFMER is not set

#
# Mesh Configuration
#
CONFIG_WIFI_MESH_VIF=0
CONFIG_WIFI_MESH_LINK=2
CONFIG_MESH_PATH=5
CONFIG_MESH_PROXY=5

#
# P2P Configuration
#
CONFIG_WIFI_P2P=0
# CONFIG_WIFI_P2P_GO is not set

#
# MU-MIMO Transmitter Configuration
#

#
# MU-MIMO receiver Configuration
#
CONFIG_WIFI_MURX=y

#
# HSU Configuration
#
# CONFIG_NO_HSU is not set
# CONFIG_PREFERRED_HSU is not set
CONFIG_ONLY_HSU=y
CONFIG_WIFI_HSU=2

#
# LMAC-only Configuration
#
CONFIG_WIFI_CMON=y
CONFIG_WIFI_MROLE=y
CONFIG_WIFI_HWSCAN=y
CONFIG_WIFI_AUTOBCN=y

#
# FMAC-only Configuration
#
# CONFIG_WIFI_VHT is not set
CONFIG_WIFI_HE=y
CONFIG_WIFI_BARX=4
CONFIG_WIFI_REORDBUF=4
CONFIG_WIFI_BATX=1
CONFIG_WIFI_MFP=y
# CONFIG_WIFI_ANT_DIV is not set
# CONFIG_WIFI_LMAC_TEST is not set
CONFIG_WIFI_AMT_VERSION=y
# CONFIG_WIFI_HTOL_VER is not set
CONFIG_COMP_DEBUG_WIFI=y
# CONFIG_FPGA_NEWRA_RF is not set

#
# wifi Debug
#
CONFIG_ECR6600_WIFI_DBG_LEVEL0=y
# CONFIG_ECR6600_WIFI_DBG_LEVEL1 is not set
# CONFIG_ECR6600_WIFI_DBG_LEVEL2 is not set
CONFIG_ECR6600_WIFI_DBG_LEVEL=0
# CONFIG_ECR6600_WIFI_DBGDUMP is not set
# CONFIG_ECR6600_WIFI_DBGDUMPKEY is not set
# CONFIG_ECR6600_WIFI_TRACE is not set

#
# wifi drivers
#
# CONFIG_BUTTON is not set
CONFIG_CRM=y
CONFIG_IPC_DMA=y
# CONFIG_EXTINT is not set
CONFIG_INTC=y
CONFIG_IPC_FHOST=y
CONFIG_WIFIPHY=y
# CONFIG_WIFI_PHY_TRIDENT is not set
# CONFIG_WIFI_PHY_KARST is not set
# CONFIG_WIFI_PHY_ELMA is not set
# CONFIG_WIFI_PHY_SDMB2B is not set
# CONFIG_WIFI_PHY_AETNENSIS is not set
CONFIG_WIFI_PHY_CUSTOM_RF=y
CONFIG_WIFI_PHY_TYPE="custom_rf"
CONFIG_SYSCTRL=y
CONFIG_TIME=y
CONFIG_ASIC_RF=y

#
# WIRELESS Configuration End
#
# end of Wireless Support

#
# Application Configuration
#
# CONFIG_BLE_EXAMPLES_NONE is not set
CONFIG_BLE_EXAMPLES_NETCFG_SLAVE=y
# CONFIG_BLE_TUYA_ADAPTER is not set

#
# SPI_SERVICE
#
# CONFIG_SPI_SERVICE is not set
# end of SPI_SERVICE
# end of Application Configuration

#
# ref design specific Configuration
#
CONFIG_OTA=y
CONFIG_OTA_LOCAL=y
CONFIG_OTA_SERVICE=y
CONFIG_OTA_COMPRESSION_UPDATE=y
# CONFIG_OTA_DIFFERENTIAL_UPDATE is not set
# CONFIG_OTA_AB_UPDATE is not set
CONFIG_OTA_MODE_STRING="OTA_COMPRESSION_UPDATE"
# end of ref design specific Configuration
