
menu "SPI_SERVICE"

config SPI_SERVICE
	bool "spi service application"
	default n

config SPI_REPEATER
	bool "spi repeater application"
	depends on SPI_SERVICE
	default n

config VNET_SERVICE
	bool "virtual net application"
	depends on SPI_SERVICE
	default n

config SPI_SERVICE_UT
	bool "spi service unit test"
	depends on SPI_SERVICE
	default n
endmenu
